.pagination {
  font-size: 22px;
}
.pagination button {
  padding: 3px 15px;
  margin-right: 20px;
  border: none;
  outline: none;
}
.pagination .selected {
  background-color: #b91a1a;
  color: white;
}
