.tipsButton {
  border: none;
  background-color: white;
  width: 100%;
  outline: 1px solid black;
  padding: 5px 0px 5px 0px;
}

.tipsBar {
  align-self: flex-start;
  position: sticky;
  top: 5%;
  margin-bottom: 150px;
}

@media all and (max-width: 688px) {
  .tipsBar {
    display: none;
  }
}
