.product-img {
  width: 530px;
  height: 280px;
}
.res-back-allproducts {
  display: none;
}
@media all and (max-width: 688px) {
  .product-img {
    width: 234px;
    height: 164px;
  }
  .res-back-allproducts {
    display: block;
  }
  .back-allproducts {
    display: none;
  }
}
